body {
  background-color: #f1faee;
}

hr {
  border-style: none;
  background-color: #a8dadc;
  height: 2px;
}

h1 {
  color: #457b9d;
  font-size: 250%;
}

h3 {
  color: #457b9d;
}

.circular {
  border-radius: 100%
}

a:hover {
  background-color: #a8dadc;
  color: black;
}

a:visited {
  color: #457b9d;
}

input[type=text]:focus {
  width: 250px;
  background-color: #f1faee;
}

input[type=email]:focus {
  width: 250px;
  background-color: #f1faee;
}

img.circular:hover {
  opacity: 0.5;
  filter: grayscale(100%);
}

.title:hover {
  color: #e63946;
}

input[type=submit]:hover {
  color: #a8dadc;
  background-color: #e63946;
}

input[type=submit] {
  background-color: #457b9d; /* Green */
  border: none;
  color: white;
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
