body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  background-color: #EDF0F6;
}

div {
  width: 100%;
  height: 100%;
}

p {
  width: 700px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

.heading {
  background-color: #3B5D9A;
  padding: 20px 500px;
  margin-top: 0;
  width: 1000px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 20px;
  width: 800px;
  height: 200px;
  perspective: 1000px;
}

.card {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front, .back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front {
  border: 2px solid black;
  background-color: #3B5D9A;
  color: white;
}

.front:hover {
  bottom: 2px;
  left: 2px;
  box-shadow: 0 0 20px 1px #000;
}

.back {
  border: 2px solid black;
  background-color: #3B5D9A;
  transform: rotateY(180deg);
  color: white;
}

.back:hover {
  bottom: 2px;
  right: 2px;
  box-shadow: 0 0 20px 1px #000;
}
